p {
  font-family: "Georgia", serif;
  color: black;
  font-size: 14px;

}

h2 {
  color: black;
  font-family: sans-serif;
}

figcaption {
  color: pink;
  font-family: "Arial", sans-serif;
  font-style: italic;
}

.opening-line {
  text-indent: 5%;
}
